.header {
    width: 100%;
    border-bottom: 1px solid color-mix(in srgb, var(--color), transparent 80%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    margin-inline: 10px;
    color: inherit;
}

a:hover {
    color: inherit;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #dee2e607;
    color: #6c757d;
}

.footer a {
    color: inherit;
    font-weight: normal;
}

.themeSwitcher {
    cursor: pointer;
    margin-inline: 5px;
}
